whop-integration/Whop_n8n_Workflow.json
{
  "name": "Whop → AI Influencer → Auto Delivery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whop-payment",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Whop Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "whop-payment"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.type}}",
              "operation": "equals",
              "value2": "payment.succeeded"
            }
          ]
        }
      },
      "name": "Check Payment Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract customer and order data from Whop webhook\nconst webhook = $input.item.json.body;\n\n// Customer info\nconst customer = {\n  email: webhook.data.customer_email || webhook.data.email,\n  name: webhook.data.customer_name || webhook.data.name || 'Customer',\n  userId: webhook.data.user_id || webhook.data.customer_id\n};\n\n// Product info\nconst product = {\n  id: webhook.data.product_id,\n  name: webhook.data.product_name || 'AI Influencer',\n  quantity: webhook.data.quantity || 1,\n  price: webhook.data.amount / 100, // Convert cents to dollars\n  metadata: webhook.data.metadata || {}\n};\n\n// Order info\nconst order = {\n  id: webhook.data.id || webhook.data.payment_id,\n  timestamp: new Date().toISOString(),\n  total: product.price\n};\n\n// Extract influencer prompt if provided in metadata\nconst prompt = product.metadata.prompt || \n  product.metadata.description || \n  'Generic influencer profile';\n\nreturn {\n  customer,\n  product,\n  order,\n  prompt,\n  influencersToGenerate: product.quantity\n};"
      },
      "name": "Parse Whop Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 250]
    },
    {
      "parameters": {
        "chatId": "7326731904",
        "text": "=🔔 NEW ORDER FROM WHOP!\n\n👤 Customer: {{ $json.customer.name }}\n📧 Email: {{ $json.customer.email }}\n💰 Amount: ${{ $json.order.total }}\n📦 Product: {{ $json.product.name }}\n🔢 Quantity: {{ $json.influencersToGenerate }}\n\n⏳ Starting generation...",
        "additionalFields": {}
      },
      "name": "Notify You (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 250],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Loop for Each Influencer",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 250]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert AI influencer creator. Return only valid JSON."
            },
            {
              "role": "user",
              "content": "=Generate a unique AI influencer profile. Make it creative and realistic.\n\nIf customer provided details: {{ $('Parse Whop Data').item.json.prompt }}\n\nReturn JSON:\n{\n  \"name\": \"First name only\",\n  \"age\": 22-30,\n  \"niche\": \"fitness/fashion/travel/beauty/tech/food/etc\",\n  \"appearance\": {\n    \"ethnicity\": \"diverse representation\",\n    \"hair_color\": \"natural colors\",\n    \"eye_color\": \"blue/brown/green/hazel\",\n    \"body_type\": \"athletic/slim/curvy/average\",\n    \"style\": \"describe fashion style\"\n  },\n  \"personality\": {\n    \"traits\": [\"3-4 personality traits\"],\n    \"tone\": \"voice and communication style\",\n    \"values\": [\"what they care about\"]\n  },\n  \"instagram\": {\n    \"username\": \"@creative_username\",\n    \"bio\": \"Engaging bio with emojis (max 150 chars)\",\n    \"profile_tagline\": \"Short catchy tagline\"\n  },\n  \"tiktok\": {\n    \"username\": \"@tiktok_username\",\n    \"bio\": \"TikTok bio with emojis\"\n  },\n  \"backstory\": \"Compelling 2-3 sentence background\",\n  \"content_themes\": [\"main content pillars\"],\n  \"target_audience\": \"who follows this influencer\"\n}"
            }
          ]
        },
        "options": {
          "temperature": 0.9
        }
      },
      "name": "OpenAI - Generate Identity",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1250, 250],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI response\nconst response = $input.item.json.message.content;\n\nlet jsonMatch = response.match(/```json\\n([\\s\\S]*?)\\n```/);\nif (!jsonMatch) {\n  jsonMatch = response.match(/```\\n([\\s\\S]*?)\\n```/);\n}\n\nconst jsonString = jsonMatch ? jsonMatch[1] : response;\nconst influencer = JSON.parse(jsonString);\n\n// Keep customer data\nconst customerData = $('Parse Whop Data').item.json;\n\nreturn { influencer, ...customerData };"
      },
      "name": "Parse Identity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 250]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert social media strategist. Return only valid JSON."
            },
            {
              "role": "user",
              "content": "=Create a 7-day Instagram content calendar for {{ $json.influencer.name }}, a {{ $json.influencer.age }} year old {{ $json.influencer.niche }} influencer.\n\nPersonality: {{ $json.influencer.personality.tone }}\nContent themes: {{ $json.influencer.content_themes.join(', ') }}\n\nReturn JSON array of 7 posts:\n[\n  {\n    \"day\": 1,\n    \"type\": \"introduction/educational/promotional/engagement\",\n    \"caption\": \"Full Instagram caption with emojis and storytelling\",\n    \"hashtags\": [\"#relevant\", \"#hashtags\", \"#10-15 total\"],\n    \"best_time\": \"09:00/12:00/18:00\",\n    \"cta\": \"call to action\"\n  }\n]\n\nMake each post unique and engaging!"
            }
          ]
        },
        "options": {
          "temperature": 0.8
        }
      },
      "name": "OpenAI - Generate Content",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1650, 250],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse content calendar\nconst response = $input.item.json.message.content;\n\nlet jsonMatch = response.match(/```json\\n([\\s\\S]*?)\\n```/);\nif (!jsonMatch) {\n  jsonMatch = response.match(/```\\n([\\s\\S]*?)\\n```/);\n}\n\nconst jsonString = jsonMatch ? jsonMatch[1] : response;\nconst contentCalendar = JSON.parse(jsonString);\n\n// Get previous data\nconst previousData = $('Parse Identity').item.json;\n\nreturn { \n  ...previousData,\n  contentCalendar\n};"
      },
      "name": "Parse Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 250]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "create",
        "prompt": "=Professional Instagram profile photo of {{ $json.influencer.name }}, a {{ $json.influencer.age }} year old {{ $json.influencer.niche }} influencer. {{ $json.influencer.appearance.ethnicity }}, {{ $json.influencer.appearance.hair_color }} hair, {{ $json.influencer.appearance.eye_color }} eyes, {{ $json.influencer.appearance.body_type }} build. {{ $json.influencer.appearance.style }} style. High quality, professional lighting, instagram-worthy, photorealistic, detailed face",
        "model": "dall-e-3",
        "options": {
          "size": "1024x1024",
          "quality": "hd"
        }
      },
      "name": "DALL-E - Generate Image",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [2050, 250],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract image URL\nconst imageUrl = $input.item.json.data[0].url;\n\n// Get all previous data\nconst allData = $('Parse Content').item.json;\n\n// Create complete package\nconst influencerPackage = {\n  influencer: allData.influencer,\n  contentCalendar: allData.contentCalendar,\n  image: {\n    url: imageUrl,\n    description: `AI-generated profile photo of ${allData.influencer.name}`\n  },\n  metadata: {\n    generated_at: new Date().toISOString(),\n    order_id: allData.order.id,\n    customer_id: allData.customer.userId\n  }\n};\n\nreturn {\n  ...allData,\n  influencerPackage,\n  imageUrl\n};"
      },
      "name": "Package Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 250]
    },
    {
      "parameters": {
        "fromEmail": "simonkohut21@gmail.com",
        "toEmail": "={{$json.customer.email}}",
        "subject": "=✅ Your AI Influencer \"{{ $json.influencer.name }}\" is Ready! 🦄",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; text-align: center; color: white;\">\n    <h1 style=\"margin: 0; font-size: 28px;\">🎉 Your AI Influencer is Ready!</h1>\n  </div>\n  \n  <div style=\"padding: 30px; background: white;\">\n    <h2 style=\"color: #333; margin-bottom: 20px;\">Meet {{ $json.influencer.name }} 👋</h2>\n    \n    <div style=\"background: #f9fafb; padding: 20px; border-radius: 10px; margin-bottom: 25px;\">\n      <img src=\"{{ $json.imageUrl }}\" style=\"width: 200px; height: 200px; border-radius: 50%; object-fit: cover; display: block; margin: 0 auto 20px;\" alt=\"Profile photo\">\n      \n      <p><strong>👤 Name:</strong> {{ $json.influencer.name }}</p>\n      <p><strong>🎂 Age:</strong> {{ $json.influencer.age }}</p>\n      <p><strong>🎯 Niche:</strong> {{ $json.influencer.niche }}</p>\n      <p><strong>📱 Instagram:</strong> {{ $json.influencer.instagram.username }}</p>\n      <p><strong>🎵 TikTok:</strong> {{ $json.influencer.tiktok.username }}</p>\n    </div>\n    \n    <h3 style=\"color: #667eea; margin-bottom: 15px;\">📝 Instagram Bio</h3>\n    <div style=\"background: #f0f0f0; padding: 15px; border-radius: 8px; margin-bottom: 25px;\">\n      <p style=\"margin: 0;\">{{ $json.influencer.instagram.bio }}</p>\n    </div>\n    \n    <h3 style=\"color: #667eea; margin-bottom: 15px;\">📅 7-Day Content Calendar</h3>\n    <div style=\"background: #f9fafb; padding: 20px; border-radius: 10px; margin-bottom: 25px;\">\n      {{ $json.contentCalendar.map((post, i) => `\n        <div style=\"margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #e0e0e0;\">\n          <h4 style=\"color: #333; margin-bottom: 10px;\">Day ${post.day}: ${post.type}</h4>\n          <p style=\"margin-bottom: 8px;\">${post.caption}</p>\n          <p style=\"color: #667eea; font-size: 13px;\">${post.hashtags.join(' ')}</p>\n          <p style=\"color: #999; font-size: 12px;\">Best time: ${post.best_time}</p>\n        </div>\n      `).join('') }}\n    </div>\n    \n    <h3 style=\"color: #667eea; margin-bottom: 15px;\">✨ Backstory</h3>\n    <p style=\"background: #f9fafb; padding: 15px; border-radius: 8px; margin-bottom: 25px;\">{{ $json.influencer.backstory }}</p>\n    \n    <div style=\"background: #e0f2fe; border-left: 4px solid #0284c7; padding: 20px; border-radius: 8px; margin: 30px 0;\">\n      <h4 style=\"color: #0369a1; margin-bottom: 10px;\">🚀 Next Steps:</h4>\n      <ol style=\"color: #075985; margin-left: 20px;\">\n        <li>Download the profile image above</li>\n        <li>Create Instagram account with suggested username</li>\n        <li>Use the bio provided</li>\n        <li>Start posting using the 7-day calendar!</li>\n      </ol>\n    </div>\n    \n    <div style=\"text-align: center; margin-top: 30px; padding-top: 30px; border-top: 2px solid #e0e0e0;\">\n      <p style=\"color: #666; margin-bottom: 10px;\">Need help? Have questions?</p>\n      <p style=\"color: #667eea; font-weight: 600;\">📧 gcapovic.biz@proton.me | 💬 @goliascapovic</p>\n    </div>\n    \n    <div style=\"text-align: center; margin-top: 20px; color: #999; font-size: 12px;\">\n      <p>Order #{{ $json.order.id }} | Generated: {{ $json.order.timestamp }}</p>\n      <p style=\"margin-top: 10px;\">© 2025 Chiara's AI Studio. All rights reserved.</p>\n    </div>\n  </div>\n</div>",
        "options": {}
      },
      "name": "Send to Customer",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2450, 250],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7326731904",
        "text": "=✅ ORDER COMPLETED!\n\n👤 {{ $json.customer.name }}\n📧 {{ $json.customer.email }}\n💰 ${{ $json.order.total }}\n\n🦄 Generated {{ $json.influencersToGenerate }} influencer(s)\n📧 Email sent to customer\n\n💵 You earned: ${{ ($json.order.total * 0.94).toFixed(2) }} (after fees)",
        "additionalFields": {}
      },
      "name": "Success Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2650, 250],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Order processed successfully' }) }}"
      },
      "name": "Respond to Whop",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2850, 250]
    }
  ],
  "connections": {
    "Whop Webhook": {
      "main": [
        [
          {
            "node": "Check Payment Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Payment Success": {
      "main": [
        [
          {
            "node": "Parse Whop Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Whop Data": {
      "main": [
        [
          {
            "node": "Notify You (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify You (Telegram)": {
      "main": [
        [
          {
            "node": "Loop for Each Influencer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop for Each Influencer": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Identity": {
      "main": [
        [
          {
            "node": "Parse Identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Identity": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Content": {
      "main": [
        [
          {
            "node": "Parse Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Content": {
      "main": [
        [
          {
            "node": "DALL-E - Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DALL-E - Generate Image": {
      "main": [
        [
          {
            "node": "Package Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Package Results": {
      "main": [
        [
          {
            "node": "Send to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Customer": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Notification": {
      "main": [
        [
          {
            "node": "Respond to Whop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "1"
}

